.offer-main {
  height: 100vh;
  background-color: #ebedee;
}

.item-box {
  /* border: 1px solid black; */
  margin: 0 auto;
  height: 700px;
  width: 80%;
  padding: 40px;
  display: flex;
  justify-content: center;
  gap: 20%;
}

.offer-images {
  /* border: 1px solid red; */
  height: 100%;
  width: 450px;
}

.offer-images img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.offer-info {
  background-color: white;
  height: 100%;
  padding: 40px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}

.offer-price {
  font-size: 24px;
  color: #111;
  margin-bottom: 20px;
}

.offer-stats {
  font-size: 14px;
  display: flex;
  margin-bottom: 10px;
}

.offer-key {
  color: #ababab;
  flex: 1;
}

.offer-value {
  color: #6a6a6a;
  flex: 1;
}

.offer-description {
  font-size: 16px;
  margin-bottom: 20px;
}

.offer-product-name {
  font-weight: bold;
  margin-bottom: 20px;
}

.offer-product-description {
  color: #666;
  margin-bottom: 20px;
}

.offer-profile {
  display: flex;
  gap: 10px;
  align-items: center;
}

.offer-profile-pic {
  height: 50px;
  width: 50px;
}

.offer-profile-pic img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.buy-btn {
  border: none;
  background-color: #027580;
  color: white;
  height: 40px;
  border-radius: 5px;
  font-size: 18px;
}

.buy-btn:hover {
  cursor: pointer;
  background-color: #027680e7;
}
