.publish-main {
  background-color: #ebedee;
  /* height: 100vh; */
  color: #303030;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.publish-container {
  /* border: 1px solid black; */
  max-width: 1280px;
  margin: 0 auto;
}

.publish-container h2 {
  padding-top: 40px;
  margin-top: 0;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(200, 200, 200);
  opacity: 1; /* Firefox */
  font-family: sans-serif;
  font-weight: 300;
}

.file-input {
  background-color: white;
  height: 250px;
  width: 100%;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.uploaded-pic {
  height: 170px;
  width: 170px;
  position: relative;
}

.uploaded-pic img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: auto;
}

.cancel-pic {
  position: absolute;
  background-color: #ffffff;
  color: #027580;
  border: 1px solid #027580;
  cursor: pointer;
  display: block;
}

.file-text {
  background-color: white;
  border: 2px dotted #02768068;
  width: 95%;
  height: 90%;
  font-size: 20px;
  letter-spacing: 1px;
  color: #027580;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* label input {
  display: none;
} */

/* label {
  background-color: white;
  border: 2px solid #027580;
  font-size: 20px;
  letter-spacing: 1px;
  color: #027580;
  border-radius: 5px;
  padding: 12px;
  margin: 50px 0;
  cursor: pointer;
} */

.text-input-section,
.file-input {
  background-color: #fff;
  box-shadow: 0 0 2px grey;
  margin: 20px 0;
}

.text-input {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  border-bottom: 1px solid #ebedee;
}

.text-input h4 {
  display: block;
  font-weight: 400;
}

.text-input input {
  border: none;
  border-bottom: 1px solid #ebedee;
  color: #000;
  font-size: 16px;
  width: 50%;
  outline: none;
}

.text-input input:focus {
  border-bottom: 1px solid #027680e7;
}

.text-input textarea {
  font-family: sans-serif;
  border: none;
  border-bottom: 1px solid #ebedee;
  color: #000;
  font-size: 16px;
  outline: none;
  resize: none;
  width: 50%;
}

.text-input textarea:focus {
  border-bottom: 1px solid #027680e7;
}

.checkbox-section {
  width: 50%;
}

.price-input {
  margin-bottom: 40px;
  border: none;
  border-bottom: 1px solid #ebedee;
  color: #000;
  font-size: 16px;
  outline: none;
}

.exchange-checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.exchange-checkbox input {
  height: 26px;
  width: 26px;
  outline: none;
  cursor: pointer;
}

.form-button-section {
  display: flex;
  justify-content: flex-end;
}

.form-button {
  background-color: #027580;
  border: none;
  font-size: 20px;
  letter-spacing: 1px;
  color: white;
  border-radius: 5px;
  padding: 12px;
  margin: 50px 0;
  cursor: pointer;
}

.form-button:active {
  background-color: #027680b9;
}
