.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

/* ********************** */
/* ****** HEADER ******* */
/* ********************** */

header {
  border-bottom: 1px solid rgb(230, 230, 230);
  width: 100vw;
}

.header-content {
  /* background-color: antiquewhite; */
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  background-color: rgb(245, 245, 245);
  height: 75%;
  width: 500px;
  border: none;
  border-radius: 5px;

  font-size: 16px;
}

.search:focus {
  outline: 1px solid #027580;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(200, 200, 200);
  opacity: 1; /* Firefox */
  font-size: 16px;
}

.header-btns {
  display: flex;
}

.sign-btns,
.call-to-sell-btn {
  border: 1px solid #027580;
  height: 30px;
  border-radius: 5px;
  letter-spacing: 0.5px;
}

.sign-btns {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: white;
  margin-right: 60px;
}

.sign-btns:hover {
  background-color: rgb(250, 250, 250);
}

.call-to-sell-btn {
  background-color: #027580;
  color: white;
}

.sign-btns:hover,
.call-to-sell-btn:hover {
  cursor: pointer;
}

.sign-up,
.sign-in {
  text-decoration: none;
  color: #027580;
}

.sign-up:hover,
.sign-in:hover {
  color: #00464c;
}

.logout-btn {
  cursor: pointer;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: #9a0024;
  color: white;
}
