* {
  box-sizing: border-box;
}

body {
  background-color: white;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

/* ********************** */
/* ****** HEADER ******* */
/* ********************** */

header {
  height: 52px;
  border-bottom: 1px solid rgb(230, 230, 230);
  width: 100vw;
}

.header-content {
  /* background-color: antiquewhite; */
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  background-color: rgb(245, 245, 245);
  height: 75%;
  width: 500px;
  border: none;
  border-radius: 5px;

  font-size: 16px;
}

.search:focus {
  outline: 1px solid #027580;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(200, 200, 200);
  opacity: 1; /* Firefox */
  font-size: 16px;
}

.sign-btns,
.call-to-sell-btn {
  height: 28px;
  border: 1px solid #027580;
  border-radius: 5px;
}

.sign-btns {
  background-color: white;
  color: #027580;
  margin-right: 60px;
}

.call-to-sell-btn {
  background-color: #027580;
  color: white;
}

.sign-btns:hover,
.call-to-sell-btn:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px rgb(180, 180, 180);
}

.sign-up:hover,
.sign-in:hover {
  color: #00464c;
}

.hero-img {
  width: 100vw;
  max-height: 615px;
  object-fit: cover;
}
