.range-track {
  height: 6px;
  width: 100%;
  background-color: #027680db;
  position: relative;
  border-radius: 2px;

  display: flex;
  align-items: flex-start;
}

.min-thumb-value,
.max-thumb-value {
  font-size: 16px;
  color: white;
  background-color: #027680;
  border-radius: 3px;
  padding: 5px;
  letter-spacing: 1px;
}
